extends layout 

block content 
  h1=title 

  form(action="" method="post") 
    .form-group 
      label(for="name") Mode Name 
      input#name(type="text" name='name' value=mode ? mode.name : '') 
    .form-group 
      label(for="description") Description 
      textarea#description(name="description" cols="30" rows="10") #{mode ? mode.description : ''}
    .form-group 
      button(type="submit") Submit

  if errors 
    ul 
      each error in errors 
        li #{error.msg}